@flatchr:registry=https://gitlab.com/api/v4/packages/npm/
# SELF
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-GB8E7p41ANsKWzqNyybk
//gitlab.com/api/v4/projects/32444154/packages/npm/:_authToken=glpat-GB8E7p41ANsKWzqNyybk

# ICONS
//gitlab.com/api/v4/packages/npm/:_authToken=utMhyAKFkJdBKxXGonJe
//gitlab.com/api/v4/projects/30455429/packages/npm/:_authToken=utMhyAKFkJdBKxXGonJe

# HELPER
//gitlab.com/api/v4/packages/npm/:_authToken=3Hn1Zs5yA8SeYEmjJyo1
//gitlab.com/api/v4/projects/27159206/packages/npm/:_authToken=3Hn1Zs5yA8SeYEmjJyo1

